section {
  min-height: 87.25vh;
}

.card-img-top {
  width: 100%;
  height: 15vw;
}

#side-menu {
  width: 15% !important;
}

.card {
  height: 70vh;
}

.card-title {
  height: 72px;
}

.container {
  max-width: 85%;
}

@media only screen and (max-width: 900px) {
  #side-menu {
    width: 40% !important;
    margin-right: 2% !important;
  }
}

@media only screen and (max-width: 450px) {
  .card-img-top {
    max-height: 30vh;
  }

  .card {
    min-width: 18vw;
  }


  .modal-img {
    max-height: 30vh !important;
  }

}

.card img {
  height: 60vh;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  max-height: 300px;
  overflow: auto;
  /* overflow-x: hidden; */
}

/* .modal {
  overflow: scroll;
} */

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: none;
  animation: slide-in 0.5s forwards;
}

.overlay.reverse {
  animation-name: slide-out;
}

#shopping-cart.reverse {
  animation-name: slide-out-cart;
}

@keyframes slide-in {
  from { left: 100vw; }
  to { left: 0; }
}

@keyframes slide-out {
  from { left: 0; }
  to { left: 100vw; }
}

@keyframes slide-in-cart {
  from { right: -100vw; }
  to { right: 0; }
}

@keyframes slide-out-cart {
  from { right: 0; }
  to { right: -100vw; }
}

.overlay:hover {
  cursor: pointer;
}

#shopping-cart {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 30vw;
  height: 100vh;
  background-color: white;
  animation: slide-in-cart 0.5s forwards;
}

@media only screen and (max-width: 1000px) {
  #shopping-cart {
    width: 50vw;
  }
}
@media only screen and (max-width: 800px) {
  #shopping-cart {
    width: 60vw;
  }
}
@media only screen and (max-width: 600px) {
  #shopping-cart {
    width: 70vw;
  }
}

#products {
  max-height: 50vh;
  overflow: auto;
  overflow-x: hidden;
}

#products img {
  max-height: 50vh;
}

#products h5 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}